html, body, h1, h2, h3, p{
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.main-header{
    height:50vh;
}
.post-footer{
    display: inline-block;
}

.post-footer .share{
    position: initial;
    width:100%;
}